<% if model.errors.any? %>
  <div id="error_explanation" class='error'>

    <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id='signup' class='offset-by-one'>
  <%= form_for model, url: customer_registrations_path(model), html: {class: 'custom'}  do |form| %>
    <h3>New to <%= site_name %>?</h3>
    <p>A <%= site_name %> account is required to checkout. </p>
    <fieldset>
       <ol id='registration_form'>
            <li>
                <%=form.label :email, 'Email*' %>
                <%= form.email_field :email, :autocomplete => 'off', :autocapitalize => 'off'  %>
            </li>
            <li>
                <%=form.label :password, 'Password*' %>
                <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off'  %>
            </li>
            <li>
                <%=form.label :password_confirmation, 'Confirm*' %>
                <%= form.password_field :password_confirmation, :autocomplete => 'off', :autocapitalize => 'off'  %>
            </li>
       </ol>
    <%#= form.buttons do %>
      <%= form.submit "Register", :class => 'button' %>
    <%# end %>
    </fieldset>
  <% end %>
</div>
